
.menu-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 100px;
  background-color: white;
  border-bottom: 2px solid #f3f3f3;
  margin-bottom: 30px;
}

.menu-bar .search-form {
  flex-grow: 1;
}

.menu-bar .logo {
  width: 100px;
  height: 50px;
  margin-right: 20px;
}
