
.video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list .item {
  width: 320px;
  margin-bottom: 20px;
}

.video-list a {
  text-decoration: none;
  color: #222;
}